@model WebApplication6.Models.Tournament

@{
    ViewBag.Title = "TournamentInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournament Details</h2>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlayerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>


    </dl>
</div>
<p>
    @Html.RouteLink("Back to list", "TournamentList")
    @{ if (Model.isCaptain)
        {
            if (!Model.isPlaying)
            {
            @Html.RouteLink("Register for tournament", "TournamentParticipate", new { Model.Id }, new { onclick = "return confirm('Do you really want to participate in this tournament?')" });
                }
            }
        }
</p>
