@model WebApplication6.Models.Team

@{
    ViewBag.Title = "TeamInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TeamInfo</h2>

<dd>
    @if (ViewBag.isError == true)
    {<h2>ERROR: User is in a team or has already sent one request.</h2>}
</dd>

<dd>
    @if (ViewBag.requestSent == true)
    {<h2>Team join request sent.</h2>}
</dd>


<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinCount)
        </dd>

        <dt>Team members</dt>

        <dd>
            @foreach (var x in ViewBag.teamMembers)
            {<li>@x</li>}
        </dd>

    </dl>
</div>
<p>
    @Html.RouteLink("Send join request", "TeamJoin", new { id = Model.Id })
</p>

<p>
    @Html.RouteLink("Back to list", "TeamList")
</p>
