@model WebApplication6.Models.Team

@{
    ViewBag.Title = "TeamInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TeamInfo</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinCount)
        </dd>
    </dl>
</div>
<p>
    @Html.RouteLink("Back to list", "TeamList")
</p>
