@model IEnumerable<WebApplication6.Models.Team>

@{
    ViewBag.Title = "TeamList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TeamList</h2>

<p>
    @Html.RouteLink("Create New", "TeamCreate")
</p>

<dd>
    @if (ViewBag.isError == true)
    {<h2>ERROR: User is in a team or has already sent one request.</h2>}
</dd>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WinCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemoved)
            </td>
            <td>
                @Html.RouteLink("Details", "TeamDetails", new { id = item.Id })
            </td>
        </tr>
    }

</table>
