@model IEnumerable<WebApplication6.Models.NewsPost>

@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewsList</h2>

<p>
	@Html.RouteLink("Create New", "AdministrationNewsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WrittenBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WrittenBy)
        </td>
		<td>
			@Html.RouteLink("Edit", "AdministrationNewsEdit", new { id = item.Id }) |
			@Html.RouteLink("Delete", "AdministrationNewsDelete", new { id = item.Id }, new { onclick = "return confirm('Do you really want to delete this post?')" })
		</td>
    </tr>
}

</table>
